# --- Secrets & Configs ---
.env
*.pem
*.key
.env.*

# --- Dependencies ---
node_modules/
__pycache__/
*.pyc
venv/
target/
dist/
build/
coverage/
.pytest_cache/

# --- Heavy Data (DO NOT UPLOAD) ---
es_data/
neo4j_data/
redis_data/

# --- OS / Editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/