redis==5.0.1
elasticsearch==8.11.0
beautifulsoup4==4.12.2
requests==2.31.0
spacy==3.7.2
scikit-learn==1.5.2
joblib==1.4.2
numpy==1.26.4
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
